{% extends 'MondelSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#% stylesheets '@MondelSiteBundle/Resources/public/css/forms.css' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %#}
{% endblock %}
{% block content %}
    {{ parent() }}
    <p>Para cambiar su contrase&ntilde;a ingresa la contrase&ntilde;a actual, y luego la nueva contrase&ntilde;a y rep&iacute;tela.</p>
    <br/>
    <div class="Form">
        <form action="{{ path('user_change_password') }}" method="post">
    		<div class="Field">        
    			{{ form_widget(form.currentPassword, { 'attr': {'class': 'FormInput', 'placeholder': 'contraseña actual...'} }) }}
			</div>			
			<div class="Field">
            	{{ form_widget(form.password.password, { 'attr': {'class': 'FormInput', 'placeholder': 'contraseña nueva...'} }) }}
            </div>            
            <div class="Field">
            	{{ form_widget(form.password.repeatedPassword, { 'attr': {'class': 'FormInput', 'placeholder': 'repetir contraseña nueva...'} }) }}
            </div>                       
            {{ form_rest(form) }}
            <button class="button">
            	<span class="label">Cambiar</span>
            </button>
        </form>
    </div>
{% endblock %}

