<form action="{{ path('user_register') }}" method="post" {{ form_enctype(userForm) }}>
            
    {{ form_errors(userForm) }}

    <table>
        <tr>
            <td class="input-label">

                {{ form_label(userForm.nick) }}
        
            </td>
            <td class="input-widget">

                {{ form_widget(userForm.nick, { 'attr': {'class': 'input-field'} }) }}
                
            </td>
            <td class="input-error">

                {{ form_errors(userForm.nick) }}
                
            </td>
        </tr>
        <tr>
            <td class="input-label">
                
                {{ form_label(userForm.email) }}

            </td>
            <td class="input-widget">

                {{ form_widget(userForm.email, { 'attr': {'class': 'input-field'} }) }}
                
            </td>
            <td class="input-error">

                {{ form_errors(userForm.email) }}
                
            </td>
        </tr>
        <tr>
            <td class="input-label">

                {{ form_label(userForm.password.password, 'Contraseña') }}
                
            </td>
            <td class="input-widget">

                {{ 
                    form_widget(userForm.password.password, 
                    { 'attr': {'class': 'input-field'} })
                }}
                
            </td>
            <td class="input-error">

                {{ form_errors(userForm.password) }}
                
            </td>
        </tr>
        <tr>
            <td class="input-label">

                {{ form_label(userForm.password.repeatedPassword, 'Repetir contraseña') }}
                
            </td>
            <td class="input-widget">

                {{ 
                    form_widget(userForm.password.repeatedPassword, 
                    { 'attr': {'class': 'input-field'} }) 
                }}
                
            </td>
            <td class="input-error"></td>
        </tr>
        <tr>
            <td class="input-label">

                {{ form_label(userForm.genre) }}
                
            </td>
            <td class="input-widget">

                {{ form_widget(userForm.genre, { 'attr': {'class': 'input-field'} }) }}
                
            </td>
            <td class="input-error">

                {{ form_errors(userForm.genre) }}
                
            </td>
        </tr>

        <tr>
            <td class="input-label">

                {{ form_widget(userForm.terms) }}
                
            </td>
            <td class="input-widget">

                {{ form_label(userForm.terms) }}
                <a target="_blank" href="{{ path('static_page', {'page':'terms'}) }}">terminos</a> de Cuentalo
                
            </td>
            <td class="input-error">

                {{ form_errors(userForm.terms) }}
                
            </td>
        </tr>                
    </table>

    {{ form_widget(userForm._token) }}            
    
    <button class="button">Registrarme</button>
</form>