{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block title %} cuentalo.com.uy | Mondel {% endblock %}

{% block body %}

{#
    <div id="top" style="height: 50px;">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <a href="{{ path('logout') }}">Salir</a>

        {% else %}

            <div style="float: left;">
                {% include 'MondelCuentaloBundle:Usuario:login.html.twig' %}
            </div>

            <div style="float: right;">
                <a href="{{ path('registro') }}">Registrarme</a>
            </div>

        {% endif %}
    </div>
#}
    <div>
        <hr/>
        <form action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>

            {{ form_errors(form) }}

            {{ form_rest(form) }}

            <input type="submit" value="Crear" />

        </form>
    </div>

    <div class>

        {% for mensaje in ultimos_contenidos %}

            <a href="{{ path('vista_contenido',
                { 'id': mensaje.id,
                'tipo': mensaje.tipo,
                'titulo': mensaje.slug }
            ) }}">{{ mensaje.titulo }}</a> - {{ mensaje.fechaCreacion | date('d-m-Y') }}

            <br/>

        {% else %}

            <p>No hay mensajes aún</p>

        {% endfor %}

    </div>

{% endblock %}

