{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/index.css') }}" />

{% endblock %}

{% block title %} Portada {% endblock %}

{% block top %}

    <div class="Wrap">

        <div id="content_top">

            <div id="logo">
                Cuentalo
            </div>

            <div id="menu_top">
                <div id="content_menu_top">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                         <img src="{{ asset('bundles/mondelcuentalo/img/salir.png') }}" class="Right"/>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block left %}

    <ul id="menu">
        <li><a href="#">Todos</a></li>
        <li><a href="{{ path('vista_secretos') }}">Secretos</a></li>
        <li><a href="{{ path('vista_anecdotas') }}">Anecdotas</a></li>
        <li><a href="{{ path('vista_mensajes') }}">Mensajes</a></li>
        <li><a href="{{ path('login') }}">Entrar</a></li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('registro') }}">Registrarse</a></li>
        {% endif %}
    </ul>

{% endblock %}

{% block center %}

    <div class="Wrap">
        <div id="Error">
            {{ form_errors(form) }}
        </div>
        <div id="box">
            <form action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>

                {#{ form_errors(form.texto) }#}
                {{ form_widget(form.texto, { 'attr': {'placeholder': 'Comparte tu secreto, anécdota o un mensaje al mundo...'} }) }}

                <div id="options">

                    {{ form_label(form.tipo) }}
                    {{ form_widget(form.tipo) }}

                    <div id="right_options">

                    </div>

                </div>

                {{ form_rest(form) }}

                <div id="box_bottom">

                    <p>Caracteres: <span id="count_caracteres">555</span></p>

                    <input type="submit" value="Compartir" class="Button" />

                </div>

            </form>
        </div>

        <div id="stream">
            {% for mensaje in ultimos_contenidos %}

                <div class="Box_contenido">
                    <div class="Titulo">{{ mensaje.tipo | replace({'s': "Secreto", 'a': "Anécdota", 'm': "Mensaje"})  }} / {{ mensaje.fechaCreacion | date('d.m.y') }}</div>
                    <div class="Contenido">{{ mensaje.texto }}</div>
                    <div class="Datos">
                        Comentarios: {{ mensaje.comentarios | length }}
                    </div>
                </div>

            {% else %}

                <p>No hay mensajes aún</p>

            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block right %} ADSENSE {% endblock%}

{% block javascripts %}
    <script language="text/javascript">
 $('#contenido_texto').keypress(function() {
                textChange();
            });

        $(document).ready(function(){

            $('#contenido_texto').keypress(function() {
                textChange();
            });

        });

        function textChange() {
            alert("AAAA");
            //var area = $('#contenido_texto');
            //var num = $('#count_caracteres');
            //var valor = 555 - area.text().length;
            //num.text(valor);
        }

    </script>
{% endblock %}
