{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/index.css') }}" />

{% endblock %}

{% block title %} Portada {% endblock %}

{% block top %}

    <div class="Wrap">

        <div id="content_top">

            <div id="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/mondelcuentalo/img/logo_cuentalo.gif') }}">
                </a>
            </div>

            <div id="menu_top">
                <div id="content_menu_top">
                    {% if customError %}
                        <div id="LoginError">{{ customError }}</div>
                    {% endif %}
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                         {% include 'MondelCuentaloBundle:Usuario:loginIndex.html.twig' %}
                    {% else %}
                        Bienvenido {{usuario.nombre}}
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block left %}

    <ul id="menu">
        <li><a href="{{ path('homepage') }}">Todos</a></li>
        <li><a href="{{ path('vista_secretos') }}">Secretos</a></li>
        <li><a href="{{ path('vista_anecdotas') }}">Anecdotas</a></li>
        <li><a href="{{ path('vista_mensajes') }}">Mensajes</a></li>
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="#" onclick="registro()">Registrarse</a></li>
        {% else %}
            <li><a href="{{ path('logout') }}">Salir</a></li>
        {% endif %}
        <li><a target="_blank" href="http://www.mondel.com.uy/contacto.php">Contactanos</a></li>
    </ul>
    <div id="addthis">
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=fabid"></script>
    </div>

    <div id="beta">
        <img src="{{ asset('bundles/mondelcuentalo/img/beta.gif') }}" />
    </div>

{% endblock %}

{% block center %}

    <div class="Wrap">
        <div id="Error">
            {% if app.session.hasFlash('notice') %}
                        <div class="flash-notice">
                            {{ app.session.flash('notice') }}
                        </div>
                    {% endif %}

            {{ form_errors(form) }}
        </div>
        <div id="box">
            <form id="contenidoForm" action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>

                {#{ form_errors(form.texto) }#}
                {{ form_widget(form.texto, { 'attr': {'placeholder': 'Comparte tu secreto, anécdota o un mensaje al mundo...'} }) }}

                <div id="options">

                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ form_label(form.sexo) }}
                        {{ form_widget(form.sexo) }}
                    {% else %}
                        <div style="display:none">
                            {{ form_label(form.sexo) }}
                            {{ form_widget(form.sexo) }}
                        </div>
                    {% endif %}


                    <div id="right_options">

                    </div>

                </div>

                {{ form_rest(form) }}

                <div id="box_bottom">

                    <p>Caracteres: <span id="count_caracteres">555</span></p>

                    <input type="button" value="Compartir" class="Button" onclick="validaContenido()" />

                </div>

            </form>
        </div>

        <div id="stream">
            {% for mensaje in ultimos_contenidos %}

                <div class="Box_contenido">
                    <div class="Titulo">
                        {{ mensaje.fechaCreacion | date('d.m.y') }}
                        <span class="InfoTitulo">
                            {{ mensaje.fechaCreacion | created_ago }}
                            {% if mensaje.usuario != null %}
                                {% if mensaje.usuario.sexo == 'm' %}
                                    <img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/masculino.png') }}" />
                                {% else %}
                                    <img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/femenino.png') }}" />
                                {% endif %}
                            {% else %}
                                {% if mensaje.sexo != null %}
                                    {% if mensaje.sexo == 'm' %}
                                        <img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/masculino.png') }}" />
                                    {% else %}
                                        <img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/femenino.png') }}" />
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                    <div class="Contenido">{{ mensaje.texto }}</div>
                    <div class="Datos">
                        <div class="TituloComentarios">Comentarios</div>
                        <div class="Comentarios">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if mensaje.comentarios | length > 0 %}

                                    {% for comentario in mensaje.comentarios %}

                                        {% if comentario.usuario.sexo == 'm' %}
                                            <img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/masculino.png') }}" />
                                        {% else %}
                                            <img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/femenino.png') }}" />
                                        {% endif %}
                                        {{ comentario.usuario.nombre }}:
                                        {{ comentario.texto }}
                                        <br/>
                                        {{ comentario.fechaCreacion | created_ago }}
                                        {% if not loop.last %}
                                            <hr/>
                                        {% endif %}

                                    {%endfor%}

                                {% else %}
                                    No hay comentarios
                                {% endif %}

                                <br/>
                                <form action="{{ path('vista_contenido', {'id': mensaje.id, 'titulo': ''}) }}" method="post" {{ form_enctype(forms_comentario[loop.index]) }}>

                                    {{ form_errors(forms_comentario[loop.index]) }}

                                    {{ form_rest(forms_comentario[loop.index]) }}

                                    <!--input type="submit" value="Comentar" /-->

                                </form>
                            {% else %}
                                Para ver los comentarios debes estar <a href="#" onclick="registro();return false;">registrado</a> o <a class="Logueado" href="#" >iniciar sesi&oacute;n</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% else %}

                <p>No hay mensajes aún</p>

            {% endfor %}

            {{ ultimos_contenidos | paginate }}

        </div>
    </div>

    <div id="registro" style="display: none;">
        {% include 'MondelCuentaloBundle:Usuario:registro.html.twig' with { 'form' : formR } %}
    </div>
{% endblock %}

{% block right %}
    <div id="adsense">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4717880844454319";
        /* Adsense1 */
        google_ad_slot = "4216094893";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    <div id="pubMondel">
        <a target="_blank" href="http://www.mondel.com.uy">
            <img src="{{ asset('bundles/mondelcuentalo/img/publicidad.gif') }}" alt="Mondel" />
        </a>
    </div>
{% endblock%}

{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function(){

            $('.Logueado').click(function() {
                $('#username').css("border", "1px solid red");
                $('#password').css("border", "1px solid red");
                $('#username').focus();
            });

            textChange();

            $('#contenido_texto').keyup(function() {
                textChange();
            });

            $('#contenido_texto').keydown(function() {
                textChange();
            });

            $('input[name="comentario[texto]"]').each(function(index) {
                $(this).attr("placeholder","deja tu comentario...");
                $(this).addClass('InputComentarios');
                $(this).keypress(function(event) {
                    if ( event.which == 13 ) {
                        $(this).parent().parent().submit();
                    }
                });
            });

        });

        function textChange() {
            var area = $('#contenido_texto');
            var num = $('#count_caracteres');
            var valor = 555 - area.val().length;
            num.text(valor);
        }

        function validaContenido() {
            var area = $('#contenido_texto');
            if (area.val().length <= 100)
                alert('El contenido de tu ' + $('#contenido_tipo option[value=' + $('#contenido_tipo').val() + ']').text() + ' debe ser mayor a 100 caracteres.');
            else
                $('#contenidoForm').submit();
        }

        function registro() {

            var nombre = $('#registro #usuario_nombre');
            var apellido = $('#registro #usuario_apellido')
            var email = $('#registro #usuario_email')
            var contrasenia = $('#registro #usuario_contrasenia_contrasenia');
            var sexo = $('#registro #usuario_sexo');
			var allFields = $( [] ).add( nombre ).add( apellido ).add( email ).add(contrasenia).add(sexo);

            $("#registro").dialog({
                title: 'Registro de Cuentalo',
                minWidth: 450,
                modal: true,
                buttons: {
                    "Registrarme": function() {
                        var bValid = true;
                        allFields.removeClass( "ui-state-error" );

                        bValid = bValid && checkLength( nombre, "nombre", 3, 30 );
                        bValid = bValid && checkLength( apellido, "apellido", 3, 30 );
                        bValid = bValid && checkLength( email, "email", 3, 50 );
                        bValid = bValid && checkLength( contrasenia, "contraseña", 3, 15 );
                        bValid = bValid && checkSelect( sexo, "Debes elegir un sexo");

                        // From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
                        bValid = bValid && checkRegexp( email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "ej. mondel@cuentalo.com.uy" );

                        if ( bValid ) {
                            $('#registroForm').submit();
                            $( this ).dialog( "close" );
                        }
                    },
                    "Cancelar": function() {
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                    allFields.val( "" ).removeClass( "ui-state-error" );
                }
            });
        }

		function updateTips( t ) {
			var tips = $( ".validateTips" );
            tips
				.text( t )
				.addClass( "ui-state-highlight" );
			setTimeout(function() {
				tips.removeClass( "ui-state-highlight", 1500 );
			}, 500 );
		}

		function checkLength( o, n, min, max ) {
			if ( o.val().length > max || o.val().length < min ) {
				o.addClass( "ui-state-error" );
				updateTips( "El largo del " + n + " debe estar entre " +
					min + " y " + max + "." );
				return false;
			} else {
				return true;
			}
		}

		function checkRegexp( o, regexp, n ) {
			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass( "ui-state-error" );
				updateTips( n );
				return false;
			} else {
				return true;
			}
		}

        function checkSelect(o, msj) {
            if (o.val() == '') {
                o.addClass( "ui-state-error" );
				updateTips( msj );
				return false;
			} else {
				return true;
            }
        }

        function validaRegistro() {
            var errores = [];
            var nombre = $('#registro #usuario_nombre');
            var apellido = $('#registro #usuario_apellido')
            var email = $('#registro #usuario_email')
            var contrasenia = $('#registro #usuario_contrasenia');
            var sexo = $('#registro #usuario_sexo');

            if (nombre.val() == '')
                errores.push('El nombre es obligatorio');
            if (apellido.val() == '')
                errores.push('El apellido es obligatorio');
            if (email.val() == '')
                errores.push('El email es obligatorio');
            if (contrasenia.val() == '')
                errores.push('La contraseña es obligatoria');
            if (sexo.val() == '')
                errores.push('Debes elegir un sexo');

            if (errores.length > 0)
                alert(errores.join('\n'));
            else
                $('#registroForm').submit();
        }

    </script>
{% endblock %}
