{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/index.css') }}" />

{% endblock %}

{% block title %} Portada {% endblock %}

{% block top %}

    <div id="wrap">

        <div id="content_top">
            OK ES EL TOP
        </div>

    </div>

{% endblock %}

{% block left %}

    <ul id="menu">
        <li><a href="#">Todos</a></li>
        <li><a href="#">Secretos</a></li>
        <li><a href="#">Anecdotas</a></li>
        <li><a href="#">Mensajes</a></li>
    </ul>

{% endblock %}

{% block center %}

    <div id="wrap">
        <div id="box">
            <form action="{{ path('homepage') }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form.texto) }}
                {{ form_widget(form.texto) }}

                <div id="options">

                    {{ form_label(form.tipo) }}
                    {{ form_errors(form.tipo) }}
                    {{ form_widget(form.tipo) }}

                    <div id="right_options">
                        <img src="{{ asset('bundles/mondelcuentalo/img/amor.png') }}" alt="Emoticons"/>
                        <img src="{{ asset('bundles/mondelcuentalo/img/enamorado.png') }}" alt="Emoticons"/>
                        <img src="{{ asset('bundles/mondelcuentalo/img/llorando.png') }}" alt="Emoticons"/>
                        <img src="{{ asset('bundles/mondelcuentalo/img/risa.png') }}" alt="Emoticons"/>
                        <img src="{{ asset('bundles/mondelcuentalo/img/triste.png') }}" alt="Emoticons"/>
                    </div>

                </div>

                <div id="box_bottom">

                    <p>Caracteres: 555</p>

                    <a href="#" class="Button">Compartir</a>

                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block right %} ADSENSE {% endblock%}