{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@MondelCuentaloBundle/Resources/public/css/index.css' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block message %}
	{% if not is_granted('ROLE_USER') %}
		<div id="message_register">
			<div class="Wrap">    		 	
				<div class="Icon"></div>
				<div class="Message">
					<p>
						Oops! Parece que a&uacute;n no estas registrado, registrate y comienza comentar las publicaciones de los usuarios sin revelar tus datos.
					</p>					
				</div>
				<form action="{{ path('_registrar') }}">					
					<button class="red"><span class="label">Registrarme</span></button>
				</form>
			</div> 		
		</div>
	{% endif %}
{% endblock %}

{% block content %}
    {{ parent() }}
    <input type="hidden" id="cid" value="{{ cid }}"/>
    <div class="Wrap">
        <div id="box">
            <form id="contenido_form" action="{{ path('_contenido_crear') }}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form.texto, { 'attr': { 'placeholder': 'Escribe lo que deseas compartir, máximo 555 caracteres...' } }) }}
                <div id="options">
                    {% if not is_granted('ROLE_USER') %}
                        {#{ form_label(form.sexo) }#}
                        {{ form_widget(form.sexo) }}
                    {% endif %}
                    {#{ form_label(form.categoria) }#}
                    {{ form_widget(form.categoria) }}
                </div>
                {{ form_widget(form._token) }}
                <div id="box_bottom">
                    <span id="count_caracteres">555</span>
                    <button class="action red Right"><span class="label">Quiero compartir mi mensaje</span></button>
                </div>
            </form>
        </div>
        <div id="stream">        	
            {% for contenido in contenidos %}            	
                {% include 'MondelCuentaloBundle:Contenido:mostrar.html.twig' %}
            {% else %}
                <p>No hay mensajes aún</p>
            {% endfor %}
            <div class="PostLoading"/>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MondelCuentaloBundle/Resources/public/js/functions.js'
    			   '@MondelCuentaloBundle/Resources/public/js/index.js'
                   filter='yui_js'
	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
