{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@MondelCuentaloBundle/Resources/public/css/index.css' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="Wrap">
        <div id="box">
            <form id="contenido_form" action="{{ path('_contenido_crear') }}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form.texto, { 'attr': { 'placeholder': 'Comparte tu secreto, anécdota o un mensaje al mundo...' } }) }}
                <div id="options">
                    {% if not is_granted('ROLE_USER') %}
                        {{ form_label(form.sexo) }}
                        {{ form_widget(form.sexo) }}
                    {% endif %}
                    {{ form_label(form.categoria) }}
                    {{ form_widget(form.categoria) }}
                </div>
                {{ form_widget(form._token) }}
                <div id="box_bottom">
                    <p>Caracteres: <span id="count_caracteres">555</span></p>
                    <input type="submit" value="Compartir" class="ButtonShare" />
                </div>
            </form>
        </div>
        <div id="stream">        	
            {% for contenido in contenidos %}            	
                {% include 'MondelCuentaloBundle:Contenido:mostrar.html.twig' %}
            {% else %}
                <p>No hay mensajes aún</p>
            {% endfor %}
            <div class="PostLoading"/>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MondelCuentaloBundle/Resources/public/js/functions.js' filter='yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
