{% extends 'MondelCuentaloBundle::layout.html.twig' %}


{% block title %}
    {% if pagina_titulo is defined %}    
        {{ pagina_titulo }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@MondelCuentaloBundle/Resources/public/css/index.css' filter='yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# {% block message %}{% endblock %} #}

{% block content %}
{{ parent() }}    
    <input type="hidden" id="cid" value="{{ cid }}"/>
    <!--<div class="Wrap"> -->
        <div id="box">
            <form id="contenido_form" action="{{ path('_contenido_crear') }}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form.texto, { 'attr': { 'placeholder': 'Escribe lo que deseas compartir, máximo 555 caracteres...' } }) }}
                {{ form_widget(form.url_video) }}
                <div id="video"></div>
                <div id="options">
                    {% if not is_granted('ROLE_USER') %}
                        {{ form_widget(form.sexo) }}
                    {% endif %}                    
                    {{ form_widget(form.categoria) }}
                    <span class="Error" id="options_error"></span>
                </div>
                {{ form_widget(form._token) }}
                <div id="box_bottom">
                    <span id="count_caracteres">555</span>
                    <button class="button action Right"><span class="label">Quiero compartir mi mensaje</span></button>
                </div>
            </form>
        </div>
        <div id="stream">        	
            {% for contenido in contenidos %}            	
                {% include 'MondelCuentaloBundle:Contenido:mostrar.html.twig' %}
            {% else %}
                <p>No hay mensajes aún</p>
            {% endfor %}
            <div class="PostLoading"></div>
            {% if contenidos | length >= 5 %}
                <button id="masContenidos">Ver m&aacute;s</button>
            {% endif %}            
        </div>
    <!-- </div> -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MondelCuentaloBundle/Resources/public/js/index.js'
                   filter='yui_js'
	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
