{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/index.css') }}" />

{% endblock %}

{% block center %}

    {% if error %}

        <div id="LoginError">Datos de ingreso incorrectos[{{ error.message }}]</div>

    {% endif %}

    <div id="loginForm" class="Form">
        <form action="{{ path('login_check') }}" method="post">

            <table>
                <tr>
                    <td><label for="username" class="LoginText">Email:</label></td>
                    <td><input type="text" id="username" name="_username" value="{{ last_username }}" class="LoginInput" /></td>
                </tr>
                <tr>
                    <td><label for="password" class="LoginText">Contraseña:</label></td>
                    <td><input type="password" id="password" name="_password" class="LoginInput" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <label for="remember_me">Recordarme ?</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" name="login" class="ButtonLogin" value="Entrar" /></td>
                    <td><a href="{{ path('recuperar_contrasenia') }}">He olvidado la contraseña</a></td>
                </tr>
            </table>

        </form>
    </div>
{% endblock %}
