{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/forms.css') }}" />

{% endblock %}

{% block content %}

    {{ parent() }}

    {% if error %}

        <div id="login_error">{{ error.message }}</div>

    {% endif %}

    <div id="loginForm" class="Form">
        <form action="{{ path('login_check') }}" method="post">

            <table>
                <tr>
                    <td><label for="username" class="FormText">Email:</label></td>
                    <td><input type="text" id="username" name="_username" value="{{ last_username }}" class="FormInput" /></td>
                </tr>
                <tr>
                    <td><label for="password" class="FormText">Contraseña:</label></td>
                    <td><input type="password" id="password" name="_password" class="FormInput" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <label for="remember_me">Recordarme ?</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" name="login" class="ButtonForm" value="Entrar" /></td>
                    <td><a href="{{ path('recuperar_contrasenia') }}">He olvidado la contraseña</a></td>
                </tr>
            </table>

        </form>
    </div>

{% endblock %}
