
    <p class="validateTips">Todos los campos son obligatorios.</p>

    <form id="registroForm" action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        <table>
            <tr>
                <td>{{ form_label(form.nombre) }}</td>
                <td>{{ form_widget(form.nombre) }}</td>
                <td>{{ form_errors(form.nombre) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.apellido) }}</td>
                <td>{{ form_widget(form.apellido) }}</td>
                <td>{{ form_errors(form.apellido) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.contrasenia) }}</td>
                <td>{{ form_widget(form.contrasenia) }}</td>
                <td>{{ form_errors(form.contrasenia) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.sexo) }}</td>
                <td>{{ form_widget(form.sexo) }}</td>
                <td>{{ form_errors(form.sexo) }}</td>
            </tr>
        </table>

        {{ form_rest(form) }}

        <!--input type="button" value="Registrarme" onclick="validaRegistro()" /-->

    </form>