{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@MondelCuentaloBundle/Resources/public/css/forms.css' filter='yui_css' %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}    
{% endblock %}
{% block content %}
    {{ parent() }}
    <form action="{{ path('_registrar') }}" method="post" {{ form_enctype(form) }}>
        <div id="registro_form" class="Form">
            {{ form_errors(form) }}
            <table>
                <tr>
                    <td>{{ form_label(form.nick) }}</td>
                    <td>{{ form_widget(form.nick, { 'attr': {'class': 'FormInput'} }) }}</td>
                    <td>{{ form_errors(form.nick) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.email) }}</td>
                    <td>{{ form_widget(form.email, { 'attr': {'class': 'FormInput'} }) }}</td>
                    <td>{{ form_errors(form.email) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.email_alternativo) }}</td>
                    <td>{{ form_widget(form.email_alternativo, { 'attr': {'class': 'FormInput'} }) }}</td>
                    <td>{{ form_errors(form.email_alternativo) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.contrasenia.contrasenia, 'Contraseña') }}</td>
                    <td>{{ form_widget(form.contrasenia.contrasenia, { 'attr': {'class': 'FormInput'} }) }}</td>
                    <td>{{ form_errors(form.contrasenia) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.contrasenia.repetirContrasenia, 'Repetir contraseña') }}</td>
                    <td>{{ form_widget(form.contrasenia.repetirContrasenia, { 'attr': {'class': 'FormInput'} }) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ form_label(form.sexo) }}</td>
                    <td>{{ form_widget(form.sexo) }}</td>
                    <td>{{ form_errors(form.sexo) }}</td>
                </tr>
            </table>
            {{ form_widget(form._token) }}
            <button class="red"><span class="label">Registrarme</span></button>

        </div>
    </form>
{% endblock %}