{% extends 'MondelSiteBundle::layout.html.twig' %}

{% block mainContent %}

    <form id="post-form" action="{{ path('post_create') }}" method="post" enctype="{{ form_enctype(postForm) }}">
    
        {{ form_rest(postForm) }}

        <button class="btn" id="create-post-button">Crear</button>

    </form>
    
    {% for post in posts %}

        <blockquote class="well">
            <p>{{ post.text }}</p>
            <small>Anonimous</small>
        </blockquote>

    {% endfor %}
    

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
<<<<<<< HEAD
    URL_POST_CREATE = "{{ path('post_create') }}"; // global
=======
    URL_POST_CREATE = "{{ path('post_create') }}";
>>>>>>> 9e41916... inexplicable
    var ajaxObj;
    
    $('#create-post-button').on('click', function (e) {
        e.preventDefault();
        if (ajaxObj) {
            ajaxObj.abort();
        }
        ajaxObj = $.ajax({
            type: "POST",
            url: URL_POST_CREATE,
            data: $('#post-form').serialize()//{ name: "John", location: "Boston" }
        }).then(
            function (data) {
                $('#post-form')
                    .after('<blockquote class="well"><p>' + data + '</p><small>Anonimous</small></blockquote>')
                    //reset form
                    .find('textarea').val(this.defaultValue).end()
                    .find('select').val(this.defaultValue);
            },
            function (data) {
                console.log(data);
            }
        );        
    });

</script>

{% endblock %}