<div class="{{ cssComment }}" id="{{ comment.id }}">
	{% set cssIcon = comment.user.genre == 'm' ? 'IconoSexoM' : 
		comment.user.genre == 'f' ? 'IconoSexoF': 'IconoSexoI' %}
	<div class="ComentarioDatos">
		<div class="{{ cssIcon }}"></div> 
		<div class="Texto">
			{% if is_granted('ROLE_USER') %}
				<p class="Bold">{{ comment.user.nick }}</p>
			{% endif %}	
			<p>{{ comment.text }}</p>
			<div class="Tiempo">{{ comment.getCreatedAt() | created_ago }}</div>
		</div>							
	</div>
	<div class="ComentarioAccion">
		<div class="EliminarItem">
			{% if is_granted('ROLE_USER') %}
				{% if comment.user and (comment.user.id == app.security.token.user.id) %}
					<a href="{{ path('comment_delete', { 'id': comment.id }) }}" alt="Eliminar Comentario">X</a>
				{% endif %}
			{% endif %}
		</div>
	</div>										
</div>