{# Layout para la portada de MondelCuentaloBundle #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/layout.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/jquery-ui.css') }}" />

{% endblock %}

{% block body %}

    <div id="top">

        <div class="Wrap">

            <div id="content_top">

                <div id="logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('bundles/mondelcuentalo/img/logo_cuentalo.gif') }}">
                    </a>
                </div>

                <div id="menu_top">
                    <div id="content_menu_top">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            Bienvenido {{usuario.nombre}}
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
        {% block top %}{% endblock %}
    </div>

    <div id="content">

        <div id="left">
            <ul id="menu">
                <li><a href="{{ path('homepage') }}">Todos</a></li>
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ path('registro') }}">Registrarse</a></li>
                {% else %}
                    <li><a href="{{ path('logout') }}">Salir</a></li>
                {% endif %}
                <li><a target="_blank" href="http://www.mondel.com.uy/contacto.php">Contactanos</a></li>
            </ul>

            {% block left %}


            {% endblock %}

            <div id="addthis">
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=fabid"></script>
            </div>
        </div>

        <div id="center">
            {% block center %}{% endblock %}
        </div>

        <div id="right">
            <div id="adsense">
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-4717880844454319";
                /* Adsense1 */
                google_ad_slot = "4216094893";
                google_ad_width = 160;
                google_ad_height = 600;
                //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div id="pubMondel">
                <a target="_blank" href="http://www.mondel.com.uy">
                    <img src="{{ asset('bundles/mondelcuentalo/img/publicidad.gif') }}" alt="Mondel" />
                </a>
            </div>
            {% block right %}{% endblock %}
        </div>

    </div>

    <div id="FooterAds">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4717880844454319";
        /* Footer nuevo */
        google_ad_slot = "1416085040";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>

{% endblock %}