{# Layout para la portada de MondelCuentaloBundle #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@MondelCuentaloBundle/Resources/public/css/reset.css'
        '@MondelCuentaloBundle/Resources/public/css/jquery-ui.css'
        '@MondelCuentaloBundle/Resources/public/css/layout.css'
        filter='yui_css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <header id="top">
    	<div class="Wrap">
	    	<div id="logo">
	    		<a href="{{ path('_inicio') }}" title="Cuentalo">
					<img src="{{ asset('bundles/mondelcuentalo/img/logo_cuentalo.png') }}" alt="Cuentalo">
				</a>
	    	</div>
	    	{% if not is_granted('ROLE_USER') %}
		    	<div id="login">
		    		<div id="login_container">
		                <a id="login_button"><span>Entrar</span><em></em></a>
		                <div class="Clear"></div>
		                <div id="login_box">                
		                    <form id="login_form" action="{{ path('_ingresar_chequeo') }}" method="post">
		                        <fieldset id="body">
		                            <fieldset>
		                                <label for="username">Email</label>
		                                <input type="text" name="_username" id="username">
		                            </fieldset>
		                            <fieldset>
		                                <label for="password">Contrase&ntilde;a</label>
		                                <input type="password" name="_password" id="password">
		                            </fieldset>
		                            <input type="submit" id="login" value="Entrar">
		                            <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked>No cerrar sesi&oacute;n</label>
		                        </fieldset>
		                        <span><a href="{{ path('_contrasenia_recuperar') }}">He perdido mi contrase&ntilde;a</a></span>
		                    </form>
		                </div>
		            </div>
		    	</div>
	    	{% else %}
	    		<div id="logout">
		    		<div id="logout_container">
		                <a id="logout_button" href="{{ path('_salir') }}"><span>Salir</span><em></em></a>
		                <div class="Clear"></div>		                
		            </div>
		    	</div>
	    	{% endif %}
    	</div>
    </header>
    <nav id="navigation">
    	<ul>
    		<li><a href="{{ path('_inicio') }}" title="Todas">todas</a><span>|</span></li>    		
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Anecdota' }) }}" title="Anecdotas">an&eacute;cdotas</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Anoche' }) }}" title="Anoche">anoche</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Chiste' }) }}" title="Chistes">chistes</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Futbol' }) }}" title="Futbol">futbol</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Frase' }) }}" title="Frase">frases</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Mensaje' }) }}" title="Mensajes">mensajes</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Video' }) }}" title="Videos">videos</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Secreto' }) }}" title="Secretos">secretos</a></li>    		
		</ul>  
    </nav> 
    
	{# {% block message %}{% endblock %} #}
    {% if not is_granted('ROLE_USER') %}
		<div id="message_register">
			<div class="Wrap">    		 	
				<div class="Icon"></div>
				<div class="Message">
					<p>
						Oops! Parece que a&uacute;n no estas registrado, registrate y comienza comentar las publicaciones de los usuarios sin revelar tus datos.
					</p>					
				</div>
				<form action="{{ path('_registrar') }}">					
					<button class="red"><span class="label">Registrarme</span></button>
				</form>
			</div> 		
		</div>
	{% else %}
		<div id="message_cuentalo">
			<div class="Wrap">    		 	
				<div class="Icon"></div>
				<div class="Message">
					<p>
					 	Hola Bienvenid@ {{ app.security.token.user.nick }}, cuentalo es una red social donde puedes compartir lo que piensas o comentar las publicaciones de otros usuarios, sin revelar tus datos.						
					</p>					
				</div>				
			</div> 		
		</div>
	{% endif %}
	 				
    <section id="content">    	
    	<aside id="left">    	
	    	<div id="menu_usuarios">Menú de usuario</div>
	    	<div id="menu_izquierdo">
	    		{% if is_granted('ROLE_USER') %}
		    		<form method="get" action="{{ path('_contrasenia_cambiar') }}">
				    	<button class="gray">
				    		<span class="icon IconPass"></span>
				    		<span class="label">Cambiar contraseña</span>    		
						</button>
					</form>
					<form method="get" action="{{ path('_usuario_eliminar') }}">
				    	<button class="gray">
				    		<span class="icon IconDelete"></span>
				    		<span class="label">Dar de baja mi cuenta</span>    		
						</button>
					</form>
				{% endif %}
				<form method="get" action="{{ path('_contacto') }}">
			    	<button class="gray">
			    		<span class="icon IconContact"></span>
			    		<span class="label">Contactarnos</span>
		    		</button>
	    		</form>
	    		<form method="get" action="{{ path('_pagina', {'pagina':'terminos'}) }}">
			    	<button class="gray">
			    		<span class="icon IconTerm"></span>
			    		<span class="label">T&eacute;rminos</span>
		    		</button>
	    		</form>			    		    		
	    	</div>    	
    		<div id="facebook">Seguinos en Facebook</div>
    		<div class="fb-like-box" data-href="https://www.facebook.com/pages/Cuentalo/221560061231773" data-width="182" data-height="380" data-show-faces="true" data-stream="false" data-header="false"></div>    		
    	</aside>
        <section id="center">
            {% block content %}
                <div class="Wrap">
                    <div id="message">
                        {% if app.session.hasFlash('notice') %}
                            <div class="Notice">
                                {{ app.session.flash('notice') }}
                            </div>
                        {% elseif app.session.hasFlash('error') %}
                            <div class="Error">
                                {{ app.session.flash('error') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </section>
        <aside id="right">
            <div id="adsense">
 				<div id="titulo_adsense">Publicidad</div>
				<div class="AdsenseTriple">
					<script  language="javascript"  type="text/javascript">iwsrcplus="http://codenew.impresionesweb.com/r/banner_iw.php?idrotador=89394&tamano=160x600&lgid="+((new Date()).getTime() % 2147483648) + Math.random(); document.write("<scr"+"ipt language=javascript  type=text/javascript src="+iwsrcplus+"></scr"+"ipt>");</script><noscript><iframe src="http://alt.impresionesweb.com/noscript.php?tam=160x600&idp=89394&ref=89394&cod=184716" width="160" height="600" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe></noscript>
				</div>
				<div class="AdsenseTriple">
						
				</div>
				<div class="AdsenseTriple">
						
				</div> 				
			</div>
       <!-- <div id="pub_mondel">
                <a target="_blank" href="http://www.mondel.com.uy">
                    <img src="{{ asset('bundles/mondelcuentalo/img/publicidad.gif') }}" alt="Mondel" />
                </a>
            </div>//-->
        </aside>
    </section>
    <footer id="footer">
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script>
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-27947390-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
    <div id="fb-root"></div><!-- NO QUITAR ES PARA EL FACEBOOK SDK JAVASCRIPT -->    
    {% javascripts '@MondelCuentaloBundle/Resources/public/js/layout.js'    			   
                   filter='yui_js'
	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{% endblock %}


