{# Layout para la portada de MondelCuentaloBundle #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@MondelCuentaloBundle/Resources/public/css/reset.css'
        '@MondelCuentaloBundle/Resources/public/css/jquery-ui.css'
        '@MondelCuentaloBundle/Resources/public/css/layout.css'
        filter='yui_css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <header id="top">
    	<div class="Wrap">
	    	<div id="logo">
	    		<a href="{{ path('_inicio') }}" title="Cuentalo">
					<img src="{{ asset('bundles/mondelcuentalo/img/logo_cuentalo.png') }}" alt="Cuentalo">
				</a>
	    	</div>
	    	{% if not is_granted('ROLE_USER') %}
		    	<div id="login">
		    		<div id="login_container">
		                <a id="login_button"><span>Entrar</span><em></em></a>
		                <div class="Clear"></div>
		                <div id="login_box">                
		                    <form id="login_form" action="{{ path('_ingresar_chequeo') }}" method="post">
		                        <fieldset id="body">
		                            <fieldset>
		                                <label for="username">Email</label>
		                                <input type="text" name="_username" id="username">
		                            </fieldset>
		                            <fieldset>
		                                <label for="password">Contrase&ntilde;a</label>
		                                <input type="password" name="_password" id="password">
		                            </fieldset>
		                            <input type="submit" id="login" value="Entrar">
		                            <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked>No cerrar sesi&oacute;n</label>
		                        </fieldset>
		                        <span><a href="{{ path('_contrasenia_recuperar') }}">He perdido mi contrase&ntilde;a</a></span>
		                    </form>
		                </div>
		            </div>
		    	</div>
	    	{% endif %}
    	</div>
    </header>
    <nav id="navigation">
    	<ul>
    		<li><a href="{{ path('_inicio') }}" title="Todas">todas</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Anecdota' }) }}" title="Anecdotas">an&eacute;cdotas</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Anoche' }) }}" title="Anoche">anoche</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Chiste' }) }}" title="Chistes">chistes</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Mensaje' }) }}" title="Mensajes">mensajes</a><span>|</span></li>
    		<li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Secreto' }) }}" title="Secretos">secretos</a></li>
    	</ul>  
    </nav> 
    <section id="content">
        <nav id="left">
            <ul id="menu">
                <li><a href="{{ path('_inicio') }}">Inicio</a></li>
                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('_registrar') }}">Registrarme</a></li>                
                {% endif %}
                <li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Anecdota' }) }}" title="Anecdotas">Anecdotas</a>
                <li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Anoche' }) }}" title="Anoche">Anoche</a>
                <li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Chiste' }) }}" title="Chistes">Chistes</a>
                <li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Mensaje' }) }}" title="Mensajes">Mensajes</a>
                <li><a href="{{ path('_contenido_categoria_listar', {'categoria': 'Secreto' }) }}" title="Secretos">Secretos</a>                
                <li><a target="_blank" href="http://www.mondel.com.uy/contacto.php">Cont&aacute;ctanos</a></li>
            </ul>
        </nav>
        <section id="center">
            {% block content %}
                <div class="Wrap">
                    <div id="message">
                        {% if app.session.hasFlash('notice') %}
                            <div class="Notice">
                                {{ app.session.flash('notice') }}
                            </div>
                        {% elseif app.session.hasFlash('error') %}
                            <div class="Error">
                                {{ app.session.flash('error') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </section>
        <aside id="right">
            <div id="adsense">
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-5516174379180074";
                /* Cuentalo derecho anterior */
                google_ad_slot = "3964750434";
                google_ad_width = 160;
                google_ad_height = 600;
                //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div id="pub_mondel">
                <a target="_blank" href="http://www.mondel.com.uy">
                    <img src="{{ asset('bundles/mondelcuentalo/img/publicidad.gif') }}" alt="Mondel" />
                </a>
            </div>
        </aside>
    </section>
    <footer id="footer">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-5516174379180074";
        /* footer anterior */
        google_ad_slot = "6975745722";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26941179-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% javascripts '@MondelCuentaloBundle/Resources/public/js/layout.js'    			   
                   filter='yui_js'
	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	-->
{% endblock %}