<div class="Post" id="{{ contenido.id }}">
	<div class="Titulo">
		{% if contenido.usuario != null %}
			{% if contenido.usuario.sexo == 'm' %}
				<img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/masculino.png') }}" />
			{% else %}
				<img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/femenino.png') }}" />
			{% endif %}
		{% else %}
			{% if contenido.sexo != null %}
				{% if contenido.sexo == 'm' %}
					<img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/masculino.png') }}" />
				{% else %}
					<img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/femenino.png') }}" />
				{% endif %}
			{% endif %}
		{% endif %}
		{{ contenido.categoria.nombre }} - {{ contenido.fechaCreacion | created_ago }}
		<span class="InfoTitulo">
			{#
			{% if is_granted('ROLE_USER') %}
				{% if contenido.usuario and (contenido.usuario.id == app.security.token.user.id) %}
					X 
				{% endif %}
			{% endif %}
			#}
		</span>
	</div>
	<div class="Contenido">
		{{ contenido.texto }}		
	</div>
	<div class="Acciones">
		<div class="Compartir">
			<a target="_blank" href="javascript:void(0);" onclick="window.open('https://www.facebook.com/sharer.php?u={{ url('_contenido_pagina_mostrar', { 'id': contenido.id }) }}', this.target, 'width=500,height=250');">
				<div class="Facebook"></div>
			</a>			
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('_contenido_pagina_mostrar', { 'id': contenido.id }) }}" data-text="¡Mira que mensaje tan increíble estuve leyendo!" data-count="none" data-lang="es">Twittear</a>
			
			<g:plusone size="medium" annotation="none" href="{{ url('_contenido_pagina_mostrar', { 'id': contenido.id }) }}"></g:plusone>			
		</div>
	</div>		
	<div class="Datos">
		<div class="TituloComentarios">Comentarios</div>
		<div class="Comentarios">
			{% if is_granted('ROLE_USER') %}
				{% if contenido.comentarios | length > 0 %}
					{% for comentario in contenido.comentarios %}
						<div class="Comentario">
							<div class="ComentarioDatos">								
								{% if comentario.usuario.sexo == 'm' %}
									<img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/masculino.png') }}" />
								{% else %}
									<img class="IconoSexo" src="{{ asset('bundles/mondelcuentalo/img/femenino.png') }}" />
								{% endif %}
								{{ comentario.usuario.nick }}: {{ comentario.texto }}
								<br />
								{{ comentario.fechaCreacion | created_ago }}
							</div>
							<div class="ComentarioAccion">
								<div class="EliminarItem">
									{% if is_granted('ROLE_USER') %}
										{% if comentario.usuario and (comentario.usuario.id == app.security.token.user.id) %}
											<a href="{{ path('_comentario_eliminar', { 'id': comentario.id }) }}" alt="Eliminar Comentario" onclick="return comentarioEliminar()">X</a>
										{% endif %}
									{% endif %}
								</div>
							</div>	
							{% if not loop.last %}
								<hr />
							{% endif %}												
						</div>
					{%endfor%}
				{% else %}
					No hay comentarios
				{% endif %}				
				<form action="{{ path('_contenido_comentar', {'id': contenido.id}) }}" method="post" {{ form_enctype(formularios_comentarios[contenido.id]) }}>
					{{ form_errors(formularios_comentarios[contenido.id]) }}
				 	{{ form_widget(formularios_comentarios[contenido.id].texto, { 'attr': {'placeholder': 'escribe tu comentario y presiona enter...', 'class': 'InputComentarios'} }) }}
				 	{{ form_rest(formularios_comentarios[contenido.id]) }}
				</form>
			{% else %}
				Para ver los comentarios debes estar <a href="{{ path('_registrar') }}">registrado</a> o <a href="{{ path('_ingresar') }}">iniciar sesi&oacute;n</a>
			{% endif %}
		</div>
	</div>
</div>