<div class="Post" id="{{ contenido.id }}">
	{% if contenido.categoria.nombre == 'Video' %}
		<input type="hidden" class="UrlVideo" value="{{ contenido.urlVideo }}" />
	{% endif %}
	<div class="Titulo">
		{% if contenido.usuario != null %}
			{% set cssIconSex = contenido.usuario.sexo == 'm' ? 'IconoSexoM' : 'IconoSexoF' %}
		{% else %}
			{% if contenido.sexo != null %}
				{% set cssIconSex = contenido.sexo == 'm' ? 'IconoSexoM' : 'IconoSexoF' %}
			{% endif %}			
		{% endif %}
		<div class="{{ cssIconSex }}"></div>
		<div class="TituloTexto">
			<span>{{ contenido.categoria.nombre }} - {{ contenido.fechaCreacion | created_ago }}</span>
			<span class="Right"><a href="{{ path('_contenido_pagina_mostrar', {'id':contenido.id}) }}">#{{ contenido.id }}</a></span>
		</div>
	</div>
	<div class="Contenido">
		{{ contenido.texto }}		
	</div>
	<div class="Acciones">
		{#
		<div class="Compartir">
			<div class="Btn_g">
				<g:plusone size="medium" href="{{ url('_contenido_pagina_mostrar', { 'id': contenido.id }) }}"></g:plusone>
			</div>	
			<div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('_contenido_pagina_mostrar', { 'id': contenido.id }) }}" data-text="¡Mira que mensaje tan increíble estuve leyendo!" data-size="medium" data-via="Cuentalouy" data-related="MondelUruguay" data-lang="es">Twittear</a>				
			</div>
			<div class="Btn_fb">				
        		 <fb:like href="{{ url('_contenido_pagina_mostrar', { 'id': contenido.id }) }}" data-width="170" layout="button_count" show_faces="false" data-send="true" action="like" colorscheme="light"></fb:like>
			</div>
		</div>
		#}
	</div>		
	<div class="Datos">
		<div class="TituloComentarios">Comentarios</div>
		<div class="Comentarios">			
			{% set cantidadComentarios = contenido.comentarios | length %}
			{% if cantidadComentarios > 0 %}
				{% if cantidadComentarios > 3 and mostrarComentariosTodos is not defined %}
					<p class="PComentarios">
						<a class="VerComentarios" href="javascript:void(0);">Ver los {{ cantidadComentarios }} comentarios</a>
					</p>
				{% endif %}
				
				{% include 'MondelCuentaloBundle:Comentario:listar.html.twig' %}
				
			{% else %}
				<p class="PComentarios">No hay comentarios aún.</p>
			{% endif %}
			{% if is_granted('ROLE_USER') %}				
				<form action="{{ path('_contenido_comentar', {'id': contenido.id}) }}" method="post" {{ form_enctype(formularios_comentarios[contenido.id]) }}>
					{{ form_errors(formularios_comentarios[contenido.id]) }}
				 	{{ form_widget(formularios_comentarios[contenido.id].texto, { 'attr': {'placeholder': 'escribe tu comentario y presiona enter...', 'class': 'InputComentarios'} }) }}
				 	{{ form_rest(formularios_comentarios[contenido.id]) }}
				</form>
			{% else %}
				<p class="PComentarios">
					Para poder comentar debes estar <a href="{{ path('_registrar') }}" alt="Registrarme">registrado</a> o <a href="{{ path('_ingresar') }}" alt="Ingresar">iniciar sesión</a>
				</p>								
			{% endif %}
		</div>
	</div>
</div>
