<div class="Post" id="{{ post.id }}">
	{% if post.category.name == 'Video' %}
		<input type="hidden" class="UrlVideo" value="{{ post.urlVideo }}" />
	{% endif %}
	<div class="Titulo">
		{% if post.user != null %}
			{% set cssIconSex = post.user.genre == 'm' ? 'IconoSexoM' : 
				post.user.genre == 'f' ? 'IconoSexoF': 'IconoSexoI' %}
		{% else %}
			{% if post.genre != null %}
				{% set cssIconSex = post.genre == 'm' ? 'IconoSexoM' : 
					post.genre == 'f' ? 'IconoSexoF': 'IconoSexoI' %}
			{% else %}
				{% set cssIconSex = 'IconoSexoI' %}
			{% endif %}			
		{% endif %}
		<div class="{{ cssIconSex }}"></div>
		<div class="TituloTexto">
			<span>
				{% if is_granted('ROLE_USER') and post.user != null %}
					{{ post.user.nick }} - 
				{% endif %}
				{{ post.createdAt | created_ago }}
			</span>
			<span class="Right">
				{{ post.category.name }} - 
				<a href="{{ path('post_page', { 'postId': post.id }) }}">#{{ post.id }}</a>
			</span>
		</div>
	</div>
	<div class="Contenido">
		{{ post.text }}		
	</div>
	{% if mostrarCompartir is defined %}
		<div class="Acciones">		
			<div class="Compartir">
				<div class="Btn_g">
					<g:plusone size="medium" href="{{ url('post_page', { 'postId': post.id }) }}"></g:plusone>
				</div>	
				<div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('post_page', { 'postId': post.id }) }}" data-text="¡Mira que mensaje tan increíble estuve leyendo!" data-size="medium" data-via="Cuentalouy" data-related="MondelUruguay" data-lang="es">Twittear</a>				
				</div>
				<div class="Btn_fb">				
	        		 <fb:like href="{{ url('post_page', { 'postId': post.id }) }}" data-width="170" layout="button_count" show_faces="false" data-send="true" action="like" colorscheme="light"></fb:like>
				</div>
			</div>
		</div>		
	{% endif %}
	<div class="Datos">
		<div class="TituloComentarios">Comentarios</div>
		<div class="Comentarios">			
			{% set cantidadComentarios = post.comments | length %}
			{% if cantidadComentarios > 0 %}
				{% if cantidadComentarios > 3 and mostrarComentariosTodos is not defined %}
					<p class="PComentarios">
						<a class="VerComentarios" href="javascript:void(0);">Ver los {{ cantidadComentarios }} comentarios</a>
					</p>
				{% endif %}
				
				{% include 'MondelPostBundle:Comment:list.html.twig' %}
				
			{% else %}
				<p class="PComentarios">No hay comentarios aún.</p>
			{% endif %}
			{% if is_granted('ROLE_USER') %}				
				<form action="{{ path('comment_create', {'postId': post.id}) }}" method="post" {{ form_enctype(commentsForms[post.id]) }}>
					{{ form_errors(commentsForms[post.id]) }}
				 	{{ form_widget(commentsForms[post.id].text, { 'attr': {'placeholder': 'escribe tu comentario y presiona enter...', 'class': 'InputComentarios'} }) }}
				 	{{ form_rest(commentsForms[post.id]) }}
				</form>
			{% else %}
				<p class="PComentarios">
					Para poder comentar debes estar <a href="{{ path('user_register') }}" alt="Registrarme">registrado</a> o <a href="{{ path('user_login') }}" alt="Ingresar">iniciar sesión</a>
				</p>								
			{% endif %}
		</div>
	</div>
</div>
